

h1{
    color: lightblue;
   text-align: center;
   background-color: WhiteSmoke;
   font-size: 50px;
   margin-top: 0px;
   padding: 20px;
}
body{
    background-color: GhostWhite;
    margin: 0px;
    height: 100%;
}
.inputtext{
    width: 50%;
    background-image: url(/static/img/type.png);
    padding-left: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 5px;
    outline: none;
    border-color: lightblue;
}
.inputtext:focus{
border-color: lime;
}
nav{
    margin-left: 20%;
   
}
.but{
    color: white;
    background-color: lightblue;
    border-radius: 5px;
    width: 80px;
    height: 32px;
    position: relative;
    top: -2px;
    outline: none;
    font-weight: bold;
}
.but:hover{
    background-color: CornflowerBlue;
}
main{
    margin-left: 20%;
    width: 55%;
    background-color: white;
    border: 3px lightblue solid;
    border-radius: 5px;
    padding: 5px;
    
}
.tdlist{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 9px;
    padding-top: 3px;
    padding-left: 5px;
    color: lightblue solid; 
}
.newlistp{
    position: relative;
    border-top: 3px lightblue solid;
    padding-top: 10px;
    letter-spacing: 1px;
    padding-right: 100px;
}
.newlistbox{
    width:15px;
    height:15px;
    position:relative;
    top: 4px;
    
}
.newlistbutton{
    color: lightblue;
    position: absolute;
    right: 3px;
    background-image: url(/static/img/done.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: GhostWhite;
    width: 80px;
    padding-left: 30px;
    height: 30px;
    border-radius: 5px;
}
.unlistbutton{
    color: lightblue;
    position: absolute;
    right: 3px;
    background-image: url(/static/img/undone.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: GhostWhite;
    width: 90px;
    padding-left: 35px;
    height: 30px;
    border-radius: 5px;
}
.newlistbutton:hover{
    border-width: 2px;
    border-color: lime;
    color: lime;
}
.unlistbutton:hover{
    border-width: 2px;
    border-color: red;
    color: cornflowerBlue;
}
h2{
    position: relative;
    bottom: 0px;
    font-size: 15px;
    margin-bottom: 0px;
    text-align: center;

}
button{
    cursor: pointer;
}